<!DOCTYPE html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Login</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <form action="/auth/signup" method="POST">
           
            <label for="name">Name</label>
            <input type="text" placeholder="Enter name" name="name" required>
            <label for="name">Aadhar</label>
            <input type="text" placeholder="Enter aadhar number" name="aadhar" required>
            <label for="email">Email</label>
            <input type="text" placeholder="Enter email" name="email" required>


            <label for="password">Password</label>
            <input type="password" placeholder="Enter password" name="password" required>
            <button type="submit">Sign up</button>
        </form>
        <script src="" async defer></script>
    </body>
</html>